/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
    font-family: monospace;
}

window {
    background-color: #4C566A;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid #2e3440;
    background-color: #3b4252;
    color: #eceff4;
}

#inner-box {
    background-color: #3b4252;

}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #3b4252;
}

#scroll {
}

#text {
padding: 5px;
color: #eceff4;
}

/*
#entry:nth-child(even){
    background-color: #404552;
}
*/

#entry:selected {
    background-color: #5e81ac;
}

#text:selected {
}

