[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/home/alessio/tools/pycharm-community-2023.3.2/bin/pycharm.svg
Exec="/home/alessio/.local/bin/pycharm" %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
